div.form
  button#getWeather.btn Search
  input#userCity(type="text" placeholder="city name")
.message-wrap
  p.title Weather Report
  .message
    span.weather-description Loading...
    hr
    span.country Loading...
    hr
    span.city Loading...
    hr
    div.temperature-icon
      span.temperature Loading...
      img#icon
